.CustSever{
	width: 100%;
	display: flex;
	flex-direction: column;
	border: 1px solid rgba(10,10,10,0.3);
	padding: 30px;
}
.CustSever .SeverItemBox{
	display: flex;
	flex-direction: row;
	width: 100%;
}
.CustSever .SeverItem{
	flex:1;
	height: 300px;	
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items:center;
}
.CustSever .miniSever{
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items:center;
	justify-content: center;
}
.CustSever .miniSever span{
	flex:1;
	text-align: center;
}